{% extends "base/lista_base.html" %}
{% load static %}


{% block title_page %}Nomencladores {% endblock %}

{% block title_table %} Nomencladores {% endblock %}
{% block subtitle_table %}Nomencladores del sistema {% endblock %}

{% block head_table %}
<tr>
    <th>Nomenclador</th>
    <th>Acción</th>
</tr>
{% endblock %}

{% block content_table %}
    <tr>
        <td>Comentarista</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Linea de Financiamiento</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Instrumento de pago</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Condición de entrega</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Documento de pago</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Documento al prestamista</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Grupo de productos</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Aerolínea</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Aeropuerto de embarque</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Agente de carga</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Almacén destino</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Naviera</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Puerto de embarque</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
    <tr>
        <td>Transitaria</td>
        <td>
            <a class="btn btn-primary mr-2"> Crear</a>
        </td>
    </tr>
{% endblock %}