{% extends "base/lista_base.html" %}
{% load static %}


{% block title_page %}Naviera {% endblock %}
{% block add_button %}  

<div>
<a class="btn btn-primary" href="{% url 'nomencladores:crea_naviera' %}"> Crear Naviera</a>
</div>
{% endblock %}

{% block title_table %} Crear Naviera {% endblock %}
{% block subtitle_table %}Lista de Navieras del sistema {% endblock %}

{% block head_table %}
<tr>
    <th>Código</th>
    <th>Nombre</th>
</tr>
{% endblock %}

{% block content_table %}

{% if object_list %}
{% for cond in object_list %}
<tr>
    <td>{{ cond.codigo }}</td>
    <td>{{ cond.nombre }}</td>
</tr>
{% endfor %}
{% endif %} 

{% endblock %}