{% extends "base/lista_base.html" %}

{% block form %}
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-custom">
                <div class="card-header">
                    <h1 class="card-title">
                    Crear Entidad
                    </h1>
                </div>
                <!--begin::Form-->
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <!-- Nombre -->
                        <div class="form-group">
                            <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{form.nombre.label}}</span></div>
                                <input type="text" class="form-control" placeholder="Nombre de la entidad" name="nombre"/>
                            </div>
                        </div>
                        <!-- End Nombre -->

                        <!-- Codigo -->
                        <div class="form-group">
                            <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{form.codigo.label}}</span></div>
                                <input type="text" class="form-control" placeholder="Código de la entidad" name="codigo"/>
                            </div>
                        </div>
                        <!-- End Codigo -->

                        <!-- Usuarios  -->
                        <div class="form-group">
                            <div class="input-group">
                                <select class="custom-select form-control" name="usuarios" id="usuarios">
                                    <option value selected>Selecciona el usuario</option>
                                    {% if form.usuarios %}
                                    {% for value,label in form.usuarios.field.choices %}
                                        <option name="select_usuario" value ="{{value}}">{{label}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <!-- End Usuarios  -->

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <strong>{{ field.label }}:</strong> {{ error }}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
                <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head_table %}
<tr>
    <th>Nombre de usuario</th>
    <th>Rol</th>
</tr>
{% endblock %}

{% block body_table %}
<body id="body-table">
    
</body>
{% endblock %}